.header {
  position: fixed;
  z-index: 10;
  height: 80px;
  width: 100%;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  top: 0;
}

.content {
  width: 100%;
}

.header-content {
  display: flex;
  height: 80px;
  max-width: 900px;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
}

.header-content a {
  padding: 0;
  margin: 0;
}

.logo-img {
  margin-top: 10%;
  width: 150px;
  height: 80%;
  background: url('https://s3.us-east-2.amazonaws.com/osman-gramm/users/logo_imgs/000/000/029/assets/osmagram.gif') center center no-repeat;
  background-size: 100%;
}


.profile-icon {
  width: 30px;
  margin-top: 50%;
  height: 60%;
  background: url('https://s3.us-east-2.amazonaws.com/osman-gramm/users/logo_imgs/000/000/029/assets/profile_icon.png') center center no-repeat;
  background-size: 100%;
}

.header-input {
  position: relative;
}

.header-input input {
  margin-top: 24px;
  padding-left: 18px;
  padding-right: 18px;
  border: .6px solid rgba(0,0,0,.3);
}

.header-input-i {
  position: absolute;
  top: 32px;
  left: 3px;
  color: grey;
}

.header-input-close {
  position: absolute;
  top: 26px;
  right: 3px;
  color: grey;
}

.search-list {

  position: absolute;
  top: 70px;
  left: 2px;
  width: 200px;
  height: 200px;
  border: .6px solid rgba(0,0,0,.3);
  z-index: 10;
  background: white;
  overflow: auto;
}

.search-list-arrow {
  background: white;
  z-index: 20;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 62.5px;
  left: 45%;
  transform: rotateZ(45deg);
  border-left: .6px solid rgba(0,0,0,.3);
  border-top: .6px solid rgba(0,0,0,.3);
}

.list-item-main {

  display: flex;
  width: 100%;
  height: 60px;
  text-decoration: none;
  color: black;
}

.list-item-main:hover {
  text-decoration: none;
  color: black;
  background: rgba(0,0,0,.2);
}

.list-item-user-img {
  margin: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.list-item-info {
  height: 50px;
  margin-top: 5px;
}

.list-item-nickname {
  width: 100%;
  height: 40%;
  font-weight: 600;
}

.list-item-name {
  width: 100%;
  height: 50%;
  font-weight: 500;
  color: grey;
  font-size: 12px;
}

@media screen and (max-width: 735px) {
  .header-content {
    width: 95%;
  }

  .header-item-qwe:nth-child(odd){
    width: 20%;
  }
  .header-item-qwe:nth-child(even){
    width: 60%;
  }

  .header-item-qwe:last-child {
    margin-top: 15px;
  }

  .header-item-qwe:last-child a div {
    margin: 0 auto;
  }

  .header-content-a {
    height: 60%;
    margin-top: 15px!important;
  }

  .header-input {
    width: 95%;
  }

  .header-input form input {
    width: 100%;
  }

  .logo-img div {
    height: 40px
  }

  .profile-icon {
    margin-top: 10px;
  }

  .logo-img {
    width: 50px;
    height: 40px;
    margin-top: 20px;
    background: url('https://s3.us-east-2.amazonaws.com/osman-gramm/images/osmagram-small.png') center center no-repeat;
    background-size: contain;
  }

  .news {
    margin-top: 100px;
  }
}
