.personal-info-main {
  padding-top: 100px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.not-found-avatar {
  background: url('https://s3.us-east-2.amazonaws.com/osman-gramm/users/logo_imgs/000/000/029/assets/question.png') center center no-repeat;
  background-size: 100%;
}

.logo-main {
  display: flex;
  width: 40%;
}
.logo-main div{
  margin: 50px 70px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.bio {
  font-weight: 200!important;
  font-size: 16px;
  color: rgba(0,0,0, .9);
}

.info-right-main {
  margin-top: 50px;
  width: 60%;
}

.nickname-and-button {
  display: flex;
  height: 50px;
}

.nickname {
  font-weight: 200;
  font-size: 38px;
  line-height: 40px;
  font-family: 'Cormorant Garamond', serif;
}

.personal-info {
  margin-right: 30px;
}

.edit-follow-unfollow-button {
  margin-top: 10px;
  display: flex;
}


.following {
  margin-left: 30px;
}

.followers-following {
  margin: 10px 0 15px 0;
  display: flex;
  font-weight: 400;
  font-size: 18px;
}



@media screen and (max-width: 735px) {
  .last-and-first-name {
    width: 95%;
    margin:0 auto;
  }
  .logo-main {
    display: flex;
    width: 150px;
  }
  .logo-main div {
    margin: 30px 35px;
    width: 75px;
    height: 75px;
  }


  .nickname-and-button {
    display: block;
    height: 90px;
  }

  .info-right-main {
    margin-top: 15px;
    width: 50%;
  }

  .followers-following {
    margin-top: 40px;
  }

  .followers-detail-main {
    width: 100%;
    margin-top: 20%;
  }

}

.small-width-info {
  width: 100%
}



.last-and-first-name {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;

  margin-bottom: 20px;
}

.button, .button:hover {
  padding: 3px 20px;
  border-radius: 5px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.button-follow, .button-follow:hover {
  background: #3897f0;
  color: white;
}

.sign-out {
  background: url('https://s3.us-east-2.amazonaws.com/osman-gramm/users/logo_imgs/000/000/029/assets/sign-out.png');
  background-size: 100%;
  margin-left: 5px;
  width: 26px;
  height: 26px;
}
